# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/

# Environment local files
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS metadata
.DS_Store
*.pem

# Drizzle Studio local cache
.drizzle/
